---
layout: default
---

<div class="post">
  <div class="post-info">
    <span>Written by</span>
    {% if page.author %}
        {{ page.author }}
    {% else %}
        {{ site.author.name }}
    {% endif %}

    {% if page.date %}
      <br>
      <span>on&nbsp;</span><time datetime="{{ page.date }}">{{ page.date | date: "%B %d, %Y" }}</time>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-line"></div>

  {{ Louis Meigret (ca 1500 - ca 1558) a laissé plusieurs textes intéressants pour qui s’intéresse aux idées sur l’écriture dans l’histoire des théories linguistiques. Trois d’entre eux en particulier font l’objet de notre traitement : La Grammaire (1550), La préface au Menteur (1548), Traité sur l’écriture (1542),

Deux outils sont à disposition de ceux qui voudraient participer à la philologie progressive d’ici. }}

</div>

<div class="pagination">
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" class="right arrow">&#8594;</a>
  {% endif %}

  <a href="#" class="top">Top</a>
</div>
